body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    background : #F0EBE3;
}

.box {
    display: flex;
    width : 100%;
    height: 200%;
    justify-content: center;
    align-items: center;
}

.card{
    width: 100px;
    height: 100px;
    border-radius: 99999px;
    background: #576F72;
}